doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ChatApp
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

      .container
        h1 Today's Question Is...
        h2 "What's the nicest thing anyone has ever said to you?"
        p
          form
            input(type="text", class="chatGuy", placeholder="Who are you, anyway?" required)
            input(type="text", class="chatText", placeholder="Answer the question!" required)
            input(type="submit", class="postIt", value="Post it, yo!")

        .answerHead
          h3 Here are twenty most recent answers:

        .chatbox


      // build:js js/vendor.min.js
      // bower:js
      // endbower
      // endbuild

      // build:js js/main.min.js
      script(src="/scripts/index.js")
      // endbuild





